/*************
  Open Sans, loaded via Google Fonts. Replace below with your own @font-face or @import statements	
*************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: "ProggySquareTT";
  src: url("//db.onlinewebfonts.com/t/5423e3f6b569eee8bb7179f1319240ea.eot");
  src: url("//db.onlinewebfonts.com/t/5423e3f6b569eee8bb7179f1319240ea.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5423e3f6b569eee8bb7179f1319240ea.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5423e3f6b569eee8bb7179f1319240ea.woff") format("woff"),
 url("//db.onlinewebfonts.com/t/5423e3f6b569eee8bb7179f1319240ea.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5423e3f6b569eee8bb7179f1319240ea.svg#ProggySquareTT") format("svg");
 } 
